
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.context ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movieCard{
  padding-top: 30px;
  display: grid;
  grid-template-columns: 300px 500px 500px;
  margin-bottom: 30px;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* color:rgb(152, 155, 182) */
}

.movieCard .title {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  /* color:rgb(77, 84, 149) */
}

.movieCard img{
  height:100%;
  width: 100px;
  border-radius: 5px;
}

.wrapper_fav{
  margin-top: 0px;
  background-image: url('https://wallpapercave.com/wp/MvZ5lC4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.context{
  margin-top: 0px;
  background-image: linear-gradient(to right, rgb(233, 236, 240) 150px, rgba(235, 239, 243, 0.84) 100%);
  height: 100vh;
  overflow-y: scroll;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -120px;
  margin-top: -100px;
  height: 100vh;
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
}

.empty img{
  height: 200px;
}
