.general {
 
 background-repeat: no-repeat;
 justify-content: space-around;
 background-position: 50% 25%;
 background-size: cover;
}

.poster img{
  height: 80%;
  width: 320px;
}

.wrapper{
  background-image: linear-gradient(to right, rgb(47, 51, 54) 800px, rgba(45, 48, 51, 0.84) 100%);
  display: flex;
}

.info{
  opacity: 0.6;
  margin: 50px;
  color:white;
}

