.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.review_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Patrick Hand', cursive;
  margin-left: -25%;
  margin-top: -10%;
  height: 100vh;
  background-image: url('https://data.photofunky.net/output/image/e/1/b/a/e1ba35/photofunky.gif');
  background-repeat: no-repeat;
  background-position: right bottom;
  font-size: 20px;
}

.form label {
  margin: 5px;
}

.overview {
  padding: 20px;
}

.overview > label {
  padding-bottom: 20px;
}

.overview div,
.submit_review svg {
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(189, 145, 23);
}

.overview div:hover {
  color: rgb(58, 5, 156);
}

#myTextId {
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  height: 100px;
  border-color: rgb(58, 5, 156);
}

#myDropdown {
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(58, 5, 156);
  height: 40px;
  padding: 5px;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

.button,
.submit_review button {
  width: 50%;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  font-family: 'Patrick Hand', cursive;
  border-width: 0px;
  background-color: rgb(58, 5, 156);
  color: azure;
}

.review_content img {
  width: 180px;
  height: 240px;
  margin: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 50px #888888;
}

.review_content img:hover {
  box-shadow: 1px 1px 50px #f16969;
}

@media only screen and (max-width: 1000px) {
  .review_content {
    background-image: none;
  }

  .review_content img {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .review_content img {
    display: none;
  }

  .form,
  #myDropdown {
    display: flex;
    width: 60%;
    font-size: 15px;
  }
}
